<div class="letritas-container">
	<h2>¡Adivina la palabra!</h2>
	<div class="timer-container">
		<span>{{ timerFormatted }}</span>
	</div>
	<div class="inputs">
		<ng-container *ngFor="let letter of guessArray; let i = index">
			<input maxlength="1" [ngStyle]="{'background': getBgColor(i)}" [(ngModel)]="guessArray[i]"
				(focus)="selectedInput = i" (input)="onInput(i, $event)" (keydown.enter)="checkGuess()"
				[disabled]="gameOver" readonly />
		</ng-container>
	</div>
	<!-- DESKTOP -->
	<div class="keyboard">
		<div class="keyboard-row">
			<button type="button" *ngFor="let key of keyboardRows[0]" (click)="onVirtualKey(key)" [disabled]="gameOver"
				[ngClass]="getKeyClass(key)">{{ key }}</button>
			<button type="button" (click)="onDeleteKey()" [disabled]="gameOver" class="keyboard-row">⌫</button>
		</div>
		<div class="keyboard-row">
			<button type="button" *ngFor="let key of keyboardRows[1]" (click)="onVirtualKey(key)" [disabled]="gameOver"
				[ngClass]="getKeyClass(key)">{{ key }}</button>
		</div>
		<div class="keyboard-row">
			<button type="button" *ngFor="let key of keyboardRows[2]" (click)="onVirtualKey(key)" [disabled]="gameOver"
				[ngClass]="getKeyClass(key)">{{ key }}</button>
				<button type="button" (click)="checkGuess()" [disabled]="gameOver" class="keyboard-row send">ENVIAR</button>
		</div>
	</div>
	<!-- MOBILE -->
	<div class="keyboard-mobile">
		<div class="keyboard-row">
			<button type="button" *ngFor="let key of keyboardRows[0]" (click)="onVirtualKey(key)" [disabled]="gameOver"
				[ngClass]="getKeyClass(key)">{{ key }}</button>
		</div>
		<div class="keyboard-row">
			<button type="button" *ngFor="let key of keyboardRows[1]" (click)="onVirtualKey(key)" [disabled]="gameOver"
				[ngClass]="getKeyClass(key)">{{ key }}</button>
		</div>
		<div class="keyboard-row">
			<button type="button" *ngFor="let key of keyboardRows[2]" (click)="onVirtualKey(key)" [disabled]="gameOver"
				[ngClass]="getKeyClass(key)">{{ key }}</button>
				<button type="button" (click)="onDeleteKey()" [disabled]="gameOver" class="keyboard-row">⌫</button>
		</div>
	</div>
	<!--button (click)="checkGuess()" [disabled]="gameOver">Enviar</button-->
	<div *ngIf="message" class="message">{{ message }}</div>
	<div *ngIf="gameOver" class="gameover">
		<button (click)="reset()">Jugar de nuevo</button>
	</div>
	<div class="attempts-list">
		<div *ngFor="let attempt of attemptsList" class="attempt-row">
			<span *ngFor="let letter of attempt.split(''); let i = index" [ngClass]="{
          'cell-correct': letter === word[i],
          'cell-present': letter !== word[i] && word.includes(letter),
          'cell-absent': !word.includes(letter)
        }">{{ letter }}</span>
		</div>
	</div>
	<div *ngIf="!gameOver" class="bottom-bar minimal-bar">
		<button class="minimal-btn" (click)="showWordLengthPopup = true">Elegir cantidad de letras</button>
		<span class="bar-separator">|</span>
		<button class="minimal-btn" (click)="giveUp()">Me rindo</button>
	</div>
	<div *ngIf="showWordLengthPopup" class="popup-overlay">
		<div class="popup-content">
			<p>Elige la cantidad de letras para la palabra a adivinar. Puedes seleccionar entre 2 y 10 letras.</p>
			<label for="slider">Cantidad de letras: {{ wordLength }}</label>
			<input id="slider" type="range" min="2" max="10" [(ngModel)]="wordLength" />
			<input type="number" min="2" max="10" [(ngModel)]="wordLength" style="width: 3em; margin-left: 0.5em;" />
			<button class="go-btn" (click)="applyWordLength()" title="Actualizar juego">
				<svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align:middle;">
					<path d="M5 10h10M10 5l5 5-5 5" stroke="#333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</button>
			<div style="margin-top:1em; text-align:right;">
				<button (click)="onLengthConfirm()">Cerrar</button>
			</div>
		</div>
	</div>
	<div class="reload-container">
		<button class="reload-btn" (click)="reloadPage()" title="Recargar">
			<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11 3a8 8 0 1 1-7.06 4.47" stroke="#888" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
				<polyline points="3 7 7 7 7 3" stroke="#888" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>
	</div>
</div>